/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
*{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  background-color: white;
  overflow-x: hidden;

  /* transition: ease-in 0.3s; */
  /* transform: rotateY(0deg); */
  /* overflow-x: auto; */


}
header{
position: relative;
}
/* #mainContent.active{
  background-color: #006494;
} */
#particles-js {
  /* position: absolute; */
  background-color: #000;
  width: 100%;
  height: 100vh;
  /* background-color: #231651; */
  /* background: rgb(25,14,79);
  background: linear-gradient(180deg, rgba(25,14,79,1) 22%, rgba(25,14,79,0.8141850490196079) 63%, rgba(25,14,79,0.590095413165266) 81%, rgba(25,14,79,0) 100%); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
position: absolute;
text-align: center;
}

/* .delay-element {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 3;
  transform: translate(-50%,-50%);
  pointer-events: none;
} */

h1{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin-top: 10px;
}

h2{
  margin-top: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: rgb(224, 224, 224);
}

a{
  text-decoration: none;
  cursor: pointer;
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: rgb(224, 224, 224);
  margin-top: 10px;
  width: 100%;
  text-align: center;
  line-height: 130%;

}
.container2 img{
  height: 50px;
  position: absolute;
  left: 50%;
  z-index: 10;
  /* top: 40px; */
  bottom: 2rem;
  animation: bounce 1s infinite;

}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.container3 {
  display: flex;
  margin: 0 auto;
  max-width: 1050px;
  width: 100%;
  height: 400px;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 200px; */
}

.container4 {
  margin: 0 auto;
  max-width: 1050px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
  /* margin-bottom: 200px; */
}
.container4 a{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  /* background-color: #ffd400; */
}
.container4 img{
  margin-top: 0;
  height: 20%;
  width: 2%;
}

.container4 h4{
  margin-top: 0px;
}
.hovered-box {
  flex: 1;
  border: 2px solid #000000;
  background-color: #ffd400;
  border-bottom: 15px solid #000000;
  border-radius: 2rem;
  z-index: 1;
  transition: ease-in 0.2s;
  padding: 3rem;
  /* height: 100%; */
}
.hovered-box:hover {
  border-bottom: 2px solid black;
  background-color: #000000;
}

h3 {
  color: #000000;
  /* text-align: center; */
  transition: ease-in 0.2s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
}

h4{
  color: rgb(0, 0, 0, 0.9);
  transition: ease-in 0.2s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  margin-top: 5px;
}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  /* text-align: center; */
  color: #000000;
  text-align: left;
}

.hovered-box:hover h3 {
  color: white;
}

.hovered-box:hover h4 {
  color: white;
}

.hovered-box p {
  /* color: white; */
  margin-bottom: 20px;
  margin-top: 20px;
}
.hovered-box:hover p {
  color: white;
  /* margin-bottom: 20px; */
}

.hovered-box .more p {
  margin-bottom: 0;
  /* margin-top: 5px; */
  position: relative;
  display: inline;
}

.hovered-box .more p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease;
}

.hovered-box:hover .more p::before {
  width: 100%;
}

.luuk-cont{
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  /* height: 300px; */
  border: 2px solid #000000;
  background-color: #ffd400;
  border-bottom: 15px solid #000000;
  border-radius: 2rem;
  padding: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.luuk-cont h2{
  color: black;
  text-align: center;
  font-size: 40px;
}

.programma{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 100px;
}

.tak{
  display: flex;
align-items: center;
gap: 10px;

}
.tak img{
  width: 4rem;
  margin: 0 auto;
}

.luuk-cont-jaren{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
  gap: 20px;
}

.jaar{
  width: calc(50% - 20px);
  border: 2px solid #000000;
  background-color: #ffd400;
  border-bottom: 15px solid #000000;
  height: 300px;
  border: 2px solid #000000;
  background-color: #ffd400;
  border-bottom: 15px solid #000000;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* margin: 5px; */

}

.jaar:hover{
  cursor: pointer;
}

.active{
  /* background-color: red; */
  display: block;
  width: 100%;
  height: 100%;
}
.active .show{
  display: none;
}
.hidden{
  display: none;
}

.active .hidden{
  display: block;
}

.blokken{
  display: none;
  margin-top: 40px;
}

.active .blokken{
  display: flex;
  justify-content: space-between;
}


.hidden img{
  display: none;
  border-radius: 1rem;
  width: 100%;
  margin-top: 20px;
  border: 2px solid black;
}

.active .hidden img{
  display: block;
}
.show p{
  margin-bottom: 10px;
}
.jaar .more2 p {
  margin-bottom: 0;
  /* margin-top: 5px; */
  position: relative;
  display: inline;
}
.jaar .more2 p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease;
}

.jaar:hover .more2 p::before {
  width: 100%;
}
/* .blok-cont{
  display: flex;
} */
.blok-cont img{
  border: none;
  height: 70px;
  margin: 0 auto;
  margin-top: 15px;
}
/* #jaar1 .hidden{
  display: flex;
  flex-direction: row;
  gap: 20px;
} */

#download{
  width: 13%;
  height: 13%;
  border-radius: 0;
}


.blokken-download{
  display: none;
  margin-top: 40px;
}

.active .blokken-download{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.active .blokken-download a{
    color: #000000;
  /* text-align: center; */
  transition: ease-in 0.2s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  margin-top: 15px;
}


.active .blokken-download img{
  margin-left: 10px;
  margin-top: 0px;
}

.active .blokken-download a{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.flexfotosdaan{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
  gap: 20px;
  margin: 0 auto;
}

#fotofrustratie{
  width: 23%;
}
#vavo{
  width: 23%;
}

#fysio{
  width: 23%;
}

#tussen{
  width: 23%;
}

.lijstfotos{
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
gap: 10px;

}

.lijst1{
  width: 23%;
}

.flexfotoscmd{
  display: flex;
  gap: 20px;
}

#poster{
  width: 23%;
}

#astro{
  width: 23%;
}

#skate{
  width: 46%;
}

#insta{
  width: 95.5%;
}

.weetbesteedt{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
}

.weetbesteedt1{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: -20px;
}
#link{
  width: 2rem;
  border: none;
  margin-top: 5px;
}

.blok-cont3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  margin: 0 auto;
  gap: 20px;
}

.image{
  width: 700px;
  margin-top: 0;
}

.image img{
margin-top: 0;}
/* .blok-cont3{
  width: 50%;
} */

.tekstnummer1 a{
  margin-bottom: 0;
}
.tekstnummer1 img{
  border-radius: 0;
}

.luuk .active h3{
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 15px;
}